<style>
.notice{
    margin: auto;
    width: 50%;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    border-color: #ffa07a;
}
</style>


<% provide(:title, "Log in") %>
<h1>Log in</h1>

<% if flash[:alert] %>
    <div class="notice"><%= flash[:alert] %></div>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :userId, "Number ID" %>
      <%= f.password_field :userId, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>

<%= link_to 'Back', home_path %>