<style>
.field{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
</style>

<style>
.actions{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
</style>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if flash[:message] %>
    <div class="notice"><%= flash[:message] %></div>
  <% end %>
  
  <div class="field">
    <%= f.text_field :firstName, :placeholder => "First name" %>
  </div>
  
  <div class="field">
    <%= f.text_field :lastName, :placeholder => "Last name" %>
  </div>

  <div class="actions">
    <%= f.submit 'Create Account'%>
  </div>
<% end %>
