<style>
.field{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
</style>

<style>
.actions{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
</style>

<style>
.notice{
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
}
</style>

<h1>Login Page</h1>
<% if flash[:alert] %>
    <div class="notice"><%= flash[:alert] %></div>
<% end %>


<fieldset>
<div class="field">
    <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :Number_ID, "Please enter your ID" %>
</div>
        
<div class="field">
     <%= f.password_field :id, class: 'field' %>
</div>

<div class="field">
    <%= f.submit "Log in", :controller => "users", :action => :login %>
</div>
    <% end %>
</fieldset>

<%= link_to 'Back', home_path %>