<style>
  .event-table td{
    vertical-align:middle;
  }

  .notice{
    margin: auto;
    width: 50%;
    border: 3px solid #9DC183 ;;
    padding: 10px;
    text-align: center;
  }
</style>

<% provide(:title, @user.firstName) %>

      <!-- HEADER /-->
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    <h1><%= @user.firstName %> <%= @user.lastName %></h1>
    <h1>Organization: <%= @user.organization %></h1>
 </section>
  </aside>
</div>

      <!-- Event TABLE /-->
  <h1> Events Attended</h1>
  <h3> Total Points: <%= @points %></h3>
  <table class="event-table">
      <th>Name</th>
      <th>Points</th>
      <th>Date</th>
      <th>Type</th>
      <% @events.each do |e| %>
          <tr align="right">
            <td><%= e.name %></td>
            <td><%= e.points %></td>
            <td><%= e.date %></td>
            <td><%= e.eventType %></td>
          </tr>
      <% end %>
  </table>
  
  <!-- Comments /-->
  <h1> Comments</h1>
  <div>
    
    <% if flash[:success] %>
        <div class="notice"><%= flash[:success] %></div>
        <% flash[:success] == nil %>
    <% end %>
    
    <%= form_for @user, remote: true do |f| %>
    <div><%= f.text_area :comment, placeholder: "Enter a comment you would like to send to an admin\ni.e. \"I attended event <EventName> and it is not listed on my profile\""%></div>
    <div id="button"><%= f.submit 'Update Comment' %></div>
    <% end %>
    
  </div>
  
  