<style>
table, th, td {
    border: 1px solid black;
}
</style>

<table>
    <th></th>
    <th>Name</th>
    <th>Total Points</th>
    <th>userId</th>
     <% @events.each do |event| %>
     <th><%= event.name %></th>
     <% end %>

    <% @users.each do |user| %>
        <tr>
            <td><%= link_to "Comments" %></td>
            <td><%= user.firstName %> <%= user.lastName %></td>
            <td><%= user.totalPoints %></td>
            <td><%= user.userId %></td>
            <% @events.each do |event| %>
            <td><%= user.attendedEvent(event.name, user.userId) %></td>
            <% end %>
        </tr>
    <% end %>
</table>



