<style>
    .event-table td{
      vertical-align:middle;
    }
</style>

<% provide(:title, @user.firstName) %>

      <!-- HEADER /-->
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    <h1><%= @user.firstName %> <%= @user.lastName %></h1>
    <h1>Organization: <%= @user.organization %></h1>
 </section>
  </aside>
</div>

      <!-- Event TABLE /-->
  <h1> Events Attended</h1>
  <h3> Total Points: <%= @points %></h3>
  <table class="event-table">
      <th>Name</th>
      <th>Points</th>
      <th>Date</th>
      <th>Type</th>
      <% @events.each do |e| %>
          <tr align="right">
            <td><%= e.name %></td>
            <td><%= e.points %></td>
            <td><%= e.date %></td>
            <td><%= e.eventType %></td>
          </tr>
      <% end %>
  </table>
  
  <!-- Comments /-->
  <h1> Comments</h1>
  <div>
    <%= form_for @user do |f| %>
    <div><%= f.text_area :comment %></div>
    <div><%= f.submit 'Send' %></div>
    <% end %>
  </div>
  
  