<% provide(:title, @event.name) %>

<h1><%= @event.name %></h1>

<div class="row">
  <aside class="col-md-4">
    <section class="event_info">
    <h1>
          Points: <%= @event.points%>
    </h1>
    <h1>
          Type: <%= @event.eventType%>
    </h1>
    <h1>
          Description: <%= @event.description%>
    </h1>
    <h1>
          Date: <%= @event.date%>
    </h1>
 </section>
  </aside>
</div>

