<header class="navbar navbar-fixed-top navbar-inverse" style="background-color: #500000;">
  <div class="container">
    <% if @user != nil and @user.organization == "FOCUS" %>
      <%= link_to image_tag("focus_logo.jpg"), logout_path, method: "delete", id: "logo" if @user%>
      <%= link_to image_tag("focus_logo.jpg"), root_path, id: "logo" if !@user%>
    <% else %>
      <%= link_to @user.organization, logout_path, method: "delete", id: "logo" if @user%>
      <%= link_to image_tag("focus_logo.jpg"), root_path, id: "logo" if !@user%>
    <% end %>
        <nav>
      <ul class="nav navbar-nav navbar-right">
        
        <% if logged_in? %>
          <li><%= link_to "Log out", logout_path, method: "delete",  style: "color: white;" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>